option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    display_errors: On
    memory_limit: 256M
    max_execution_time: 120

packages:
  yum:
    php-intl: []
    php-mbstring: []
    php-xml: []
    php-gd: []
    php-pdo: []
    php-mysqlnd: []
    php-zip: []

container_commands:
  01_permissions:
    command: |
      chmod -R 775 /var/app/current/var
      chmod -R 775 /var/app/current/vendor
      chown -R webapp:webapp /var/app/current/var

  02_clear_cache:
    command: |
      php /var/app/current/bin/console cache:clear --no-warmup
